/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   button{
     padding:0;
     margin: 0;
   }

   .button{
    display: inline-block;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 20%;
    font-size: 4vw;
    

   }

   .button:active{
     color: black;
   }

   .button:hover {
    background: #eaeaea;
    color: #333;
  }

  body{
    background: white;
    margin: 0;
  }

   /* HEADER ------------------------------------------------------------------------------------------------ */



   .siteheader{
     height: 100vh;
     width: 100%;
     text-align: center;
         
    }

    /* Raden med logotyp visas inte i mobilläge */
    .headerlogo{ 
      display:none;
      }
   
    .homepagebg{
      position: absolute;
      background: url(../img/cabinet-data-data-center-325229.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100vh;
      margin: 0;
      z-index: -1;
      opacity: 0.6;
      filter: b
     }

    .siteheader h3{
        padding-top: 25vh;
        z-index: 2;
      }




 
   /* HEADER ------------------------------------------------------------------------------------------------ */


   /* NAVIGERING ------------------------------------------------------------------------------------------------ */
#navbar {
  overflow: hidden;
  background-color: #333;
  height: 5vh;
  width: 100%;
  bottom: 50px;
   
}

.large{
display: none
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

   /* NAVIGERING ------------------------------------------------------------------------------------------------ */


   /* MAIN ------------------------------------------------------------------------------------------------ */
   main h1{
    margin-top: 0;
    font-size: 6vw ;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
  }

  main h2{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 5vw ;
    font-family: Arial, Helvetica, sans-serif;
  }

  main  h4{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 4,5vw ;
    font-family: Arial, Helvetica, sans-serif;
  }

  main p{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 4vw ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }



  .left{
    float: left;
    padding-right: 5px;
    padding-left: 5px;
  }

  .right{
    float: right;
    padding-right: 5px;
    padding-left: 5px;
  }
  .imgrad{
padding: 5px;
  }



   p img{
       width: auto;
       height: 25vh;
       
   }

   .siteart{
     height: minmax(auto,100vh);
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
   }

   .tinysiteart{
     height: 20vh;
     
   }



  .contactimg{
    
    height: 10vh;
    width: 10vh;
  }



   .siteart h1{
     padding-top: 10vh;
   }



   .sitepage{
     height: auto; /* Viewheight anpassar innehållet till en procentuell storlek av användarskärmens storlek, 100% i det här fallet visar innehållet på hela skärmens storlek */
     width: 100%;
     overflow: hidden;
     text-overflow: ellipsis;
     
   }

   main section{ /*Border som delar av "Sidorna" */
    border-bottom: solid 10px black;
   }

   


   /* MAIN------------------------------------------------------------------------------------------------ */

   /* CONTACT FORM */

   input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  #subject {
    height: 50px;
  }
  

   /* CONTACT FORM */

   #home{
     grid-area: home;
   }

   #market{
    grid-area: market;
  }

  #service{
    grid-area: service;
  }

  #about{
    grid-area: about;
  }

  #contact{
    grid-area: contact;
  }


  .contactlist li{
    list-style: none;
 
  
  }

  .contactart{
    width: 100%;
    height: 20vh;
  }

  .sitefooter{
    background-color: #333 ;;
  }
    




   @media screen and (min-width: 1000px){

    .homepagebg{
      height: 90vh;
    }
    .headerlogo{
      width: 100%;
       height: 10vh;
      background:#333;
      border-bottom:solid 2px lightgrey;
      display: block;
      
    }
    .headerlogo img{
      height: 8vh;;
      padding-top: 5px;
    }
    .headerlogo figure{
      margin:0;
    }

    .headerlogo h1{
      text-align:left ;
      margin:0;
      color: white;
      filter: hue-rotate(blue,green,red)
    }

    .headerlogo p{
      margin:0;
    }

    .gridwrapper{
      display: grid;
      grid-template-rows: auto(minmax(100vh, auto));
     grid-template-areas:
     'home'
     'market'
     'service'
     'about'
     'contact';
      
    }
  

    #market{
      display:grid;
      grid-template-columns: 40vw 40vw;
      grid-gap: 1vw;
      grid-template-areas:
      'gridmarketone' 'gridmarkettwo' 'gridmarketthree'
      ;
    }


    #service{
      display:grid;
      grid-template-columns: 40vw 40vw;
      grid-gap: 1vw;
      grid-template-areas:
      'gridserviceone' 'gridservicetwo' 'gridservicethree'
      ;
    }

    #about{
      display:grid;
      grid-template-columns: 40vw 40vw;
      grid-gap: 1vw;
      grid-template-areas:
      'gridaboutone''gridabouttwo''gridaboutthree'
      ;
    }

    #contact{
      display: grid;
      grid-template-columns: 40vw 40vw;
      grid-gap: 1vw;
      grid-template-areas:
      'gridcontactone' 'gridcontacttwo';
    }

    main{
      max-width: 80vw;
      margin: 0 auto;
    }

    .siteart{
      height: minmax(auto,100vh);
      width: 40vw;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .contactart{
      width: 25vw;
      height: 20vh;
    }


    .contactlist li{
      list-style: none;
      display: inline;
      display: inline-block;
     
    }



    main h1{
      margin-top: 0;
      font-size: 4vw ;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
    }
  
    main h2{
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      font-size: 3vw ;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    main  h4{
      padding-left: 5px;
      padding-right: 5px;
      font-size: 2,5vw ;
      font-family: Arial, Helvetica, sans-serif;
    }
  
    main p{
      
      padding-left: 5px;
      padding-right: 5px;
      font-size: 1vw ;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .button{
      display: inline-block;
      background-color: #333;
      color: white;
      border: none;
      cursor: pointer;
      height: 5vh;
      width: 20%;
      font-size: 2vw;
      
  
     }




   
  
  
  
  
  }















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

